.terms {
    width: 90%;
    margin: 0 auto;
    padding: 120px 0;

    .title {
        color: $black;
        font-size: 1.5rem;
        margin-bottom: 48px;
        border-bottom: 5px double $primary;
    }

    .content {
        h2 {
            margin-top: 24px;
            font-size: 1.1rem;
        }
    }
}

